html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='main.css')
    script.
      window.refreshTimer="#{refreshTimer}";
    style.
      body.dev {
        overflow: scroll !important;
      }
    script(src='htmx.js')
    script(src='main.js')

  body(class=dev)
    .content
        .landing
            .logo
                img(src='logo.svg')
            .title Tap to start shopping!
    .bg
