.logo
    img(src='images/logo.png')
.title Tap to start shopping!
.footer
    span &copy; 1983 Void Distribution Solutions, Inc.
    span &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    span &copy; 2024 Void Mart Holdings, Ltd.