/* roboto-condensed-100 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 100;
  src: url("fonts/roboto-condensed-v27-latin-100.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-100italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 100;
  src: url("fonts/roboto-condensed-v27-latin-100italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-200 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 200;
  src: url("fonts/roboto-condensed-v27-latin-200.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-200italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 200;
  src: url("fonts/roboto-condensed-v27-latin-200italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-300 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 300;
  src: url("fonts/roboto-condensed-v27-latin-300.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-300italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 300;
  src: url("fonts/roboto-condensed-v27-latin-300italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/roboto-condensed-v27-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 400;
  src: url("fonts/roboto-condensed-v27-latin-italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 500;
  src: url("fonts/roboto-condensed-v27-latin-500.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-500italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 500;
  src: url("fonts/roboto-condensed-v27-latin-500italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 600;
  src: url("fonts/roboto-condensed-v27-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-600italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 600;
  src: url("fonts/roboto-condensed-v27-latin-600italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/roboto-condensed-v27-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-700italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 700;
  src: url("fonts/roboto-condensed-v27-latin-700italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 800;
  src: url("fonts/roboto-condensed-v27-latin-800.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-800italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 800;
  src: url("fonts/roboto-condensed-v27-latin-800italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 900;
  src: url("fonts/roboto-condensed-v27-latin-900.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-condensed-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto Condensed";
  font-style: italic;
  font-weight: 900;
  src: url("fonts/roboto-condensed-v27-latin-900italic.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
body {
  overflow: hidden;
  user-select: none;
}

body.dev {
  overflow: scroll !important;
  user-select: inherit;
}

body > canvas {
  pointer-events: none !important;
}

body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  outline: none;
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Roboto Condensed", sans-serif;
  background-color: #000;
  width: 1080px;
  height: 1920px;
}

.fadeIn {
  position: fixed;
  pointer-events: none;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background-color: #000;
  animation: fadeOut 2s ease 1.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 100;
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
}

.header {
  position: relative;
  width: 100%;
  background-color: rgb(250, 235, 222);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  filter: drop-shadow(0px 0px 3px #000);
}
.header .logo {
  width: 150px;
  margin: 30px;
}
.header .back {
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 60px;
}
.header .back i {
  font-size: 40px;
  color: #000;
}

.page {
  position: absolute;
  height: 100%;
  width: 100%;
  width: 1080px;
  height: 1920px;
  top: -1920px;
  left: 0px;
  animation: transitionOut 1s ease;
}
.page.show {
  top: 0;
  animation: transitionIn 1s ease;
}

.footer {
  color: #fff;
  background-color: #444;
  font-weight: 500;
  text-align: center;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.button {
  display: inline-block;
  padding: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 1;
  background-color: #815eff;
  letter-spacing: 4px;
  color: #fff;
  border: 3px solid #592bff;
  transition: background-color 0.5s ease;
}
.button:active {
  background-color: #d1c4ff;
}

@keyframes transitionOut {
  0% {
    top: 0px;
  }
  100% {
    top: -1920px;
  }
}
@keyframes transitionIn {
  0% {
    top: 1920px;
  }
  100% {
    top: 0px;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes pulse {
  10% {
    transform: scale(1.15);
  }
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.landing .logo {
  width: 550px;
  animation: pulse 1.5s infinite;
}
.landing .logo img {
  width: 100%;
}
.landing .title {
  font-size: 80px;
  font-weight: 200;
  text-align: center;
  margin-top: 220px;
  font-style: italic;
}
.landing .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.bg {
  position: absolute;
  background-color: #86242a;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.bg .img {
  background-image: url("images/pixel_bg_repeat.png");
  background-repeat: repeat;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.2;
}

.browse {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #fff;
}
.browse .header {
  background-color: rgb(250, 235, 222);
  color: #fff;
}
.browse .scroller {
  flex: 1;
  width: 100%;
  overflow-y: scroll;
  flex-direction: column;
  box-sizing: content-box;
}
.browse .scroller::-webkit-scrollbar {
  display: none;
}
.browse .scroller .hero {
  display: flex;
  flex-direction: column;
  background-image: url("images/hero.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -80px;
  color: #fff;
  height: 410px;
  padding: 40px 440px 0px 40px;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: darken;
}
.browse .scroller .hero .title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 65px 0px 0px 0px;
  text-shadow: 1px 1px 5px #444;
}
.browse .scroller .hero .desc {
  font-size: 25px;
  margin: 5px 0px 0px 0px;
  font-weight: 300;
  text-shadow: 1px 1px 1px #000;
}
.browse .scroller .hero .small {
  font-weight: 600;
  font-style: italic;
  margin-top: 95px;
}
.browse .scroller .cats {
  display: flex;
  flex-direction: column;
}
.browse .scroller .cats .cat {
  display: flex;
  flex-direction: column;
  padding: 0px 30px;
}
.browse .scroller .cats .cat .title {
  font-size: 48px;
  text-align: center;
  margin: 100px 0px 30px 0px;
  font-weight: 200;
}
.browse .scroller .cats .cat .items {
  display: flex;
  flex-direction: row;
}
.browse .scroller .cats .cat .items .item {
  margin: 2px;
}
.browse .scroller .cats .cat .items .item .img img {
  width: 100%;
}
.browse .scroller .cats .cat .items .item .name {
  font-size: 20px;
  font-style: italic;
  margin-top: 20px;
  font-weight: 500;
  padding: 0px 40px;
  text-wrap: balance;
}
.browse .scroller .testimonial {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}
.browse .scroller .testimonial .head {
  font-size: 48px;
  text-align: center;
  margin: 50px 0px 0px 0px;
  font-weight: 200;
}
.browse .scroller .testimonial .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 70px;
  text-align: center;
}
.browse .scroller .testimonial .item .title {
  font-size: 30px;
  font-style: italic;
  text-wrap: balance;
}
.browse .scroller .testimonial .sig {
  font-size: 24px;
  margin-top: 15px;
  font-weight: 300;
}

.detail {
  background-color: #fff;
}
.detail .footer {
  position: absolute;
  bottom: 0;
}
.detail .header {
  color: #000;
  background-color: #C7C;
}
.detail .header .logo {
  filter: invert(1);
}
.detail .body {
  display: flex;
  flex-direction: row;
  margin-top: 180px;
}
.detail .body .left, .detail .body .right {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.detail .body .left .img {
  margin: 0px 60px 0px 20px;
}
.detail .body .left .img img {
  width: 100%;
}
.detail .body .right {
  margin-right: 50px;
  gap: 30px;
}
.detail .body .title {
  font-size: 40px;
  font-weight: 700;
  line-height: 1.15em;
  text-wrap: balance;
}
.detail .body .desc {
  font-size: 22px;
  line-height: 1.25em;
  text-wrap: balance;
}
.detail .body .button {
  width: 320px;
  margin-top: 30px;
}
.detail .advantage {
  background-color: rgb(250, 238, 221);
  color: rgb(0, 18, 51);
  display: flex;
  flex-direction: column;
  padding: 50px;
  margin-top: 180px;
}
.detail .advantage .headline {
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 8px;
}
.detail .advantage .points {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 100px;
  margin-top: 40px;
  text-align: center;
  gap: 10px;
}
.detail .advantage .points .point {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.detail .advantage .points .point .title {
  font-size: 25px;
  font-weight: 500;
  text-align: center;
}
.detail .advantage .points .point .desc {
  text-wrap: balance;
}
.detail .advantage .points .point i {
  font-size: 100px;
}
.detail .disclaimer {
  margin: 50px 80px;
  font-size: 12px;
  text-align: center;
  font-style: italic;
  text-wrap: balance;
}

.checkout {
  background-color: #63f8f0;
}
.checkout .header {
  background-color: #63f8f0;
  filter: none;
}
.checkout .body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 100px 160px 0px 160px;
}
.checkout .tos {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  height: 857px;
  overflow-y: scroll;
  box-sizing: content-box;
}
.checkout .tos::-webkit-scrollbar {
  display: none;
}
.checkout .tos .title {
  font-size: 30px;
}
.checkout .tos ol li {
  margin-top: 15px;
  text-wrap: wrap;
}
.checkout .sig {
  margin: 50px;
}
.checkout .sig .title {
  text-align: center;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.checkout .sig .pad {
  background-color: #fff;
  filter: drop-shadow(0px 0px 4px rgba(85, 102, 102, 0.4));
}
.checkout .sig .clear {
  text-align: right;
  margin-top: 10px;
  font-size: 20px;
}
.checkout .confirm {
  text-align: center;
}
.checkout .confirm .button {
  width: 80%;
}

.thankyou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #4d2f8d;
  color: #fff;
  opacity: 1;
  transition: opacity 12s ease-in;
}
.thankyou.show {
  opacity: 0;
}
.thankyou .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin: 150px;
  text-align: center;
}
.thankyou .title {
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 5px;
  text-transform: uppercase;
}
.thankyou .desc {
  font-size: 30px;
  font-style: italic;
}

/*# sourceMappingURL=main.css.map */
