body {
    overflow: hidden;
    user-select: none;
}

body.dev {
    overflow: scroll !important;
    user-select: inherit;
}

body > canvas {
    pointer-events: none !important;
}

body,html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #222;
    width: 1080px;
    height: 1920px;
}

.content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.header {
    width: 100%;
    background-color: rgb(250, 235, 222);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0px 0px 3px #000);
    .logo {
        width: 150px;
        margin: 30px;
    }
}

.page {
    position: absolute;
    height: 100%;
    width: 100%;
    width: 1080px;
    height: 1920px;
    top: -1920px;
    left: 0px;
    animation: transitionOut 1s ease;
    &.show {
        top: 0;
        animation: transitionIn 1s ease;
    }
}

.footer {
    color: #fff;
    background-color: #444;
    font-weight: 500;
    text-align: center;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

.button {
    display: inline-block;
    padding: 20px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 1;
    background-color: #815eff;
    letter-spacing: 4px;
    color: #fff;
    border: 3px solid darken(#815eff, 10%);
    transition: background-color .5s ease;
    &:active {
        background-color: lighten(#815eff, 20%);
    }
}

@keyframes transitionOut {
    0% {
        top: 0px;
    }
    100% {
        top: -1920px;
    }
}

@keyframes transitionIn {
    0% {
        top: 1920px;
    }
    100% {
        top: 0px;
    }
}